{
  "extends": "@antfu",
  "rules": {
    "antfu/if-newline": "off",
    "vue/singleline-html-element-content-newline": "off",
    "@typescript-eslint/brace-style": "off",
    "@typescript-eslint/comma-dangle": "off"
  }
}
