body {
  font-family: 'Inter', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
}
